<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>64::personal_posts</title>
    <meta name="description" content="IT posts from sixtyfouroftheclock!">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/your-wilderness.ico">
</head>

<body>
    {{ partial "sidebar" . }}
    <main id="articles">
        <header>
            <h1 style="text-align: center;"> 64::personal_posts </h1>
        </header>
        {{ range .Pages }}
        <article>
            <header>
                <h1> <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> </h1>
                <small>
                {{ if eq .Date .Lastmod }}
                    {{ .Date | time.Format ":date_medium" }}
                {{ else }}
                    {{ .Date | time.Format ":date_medium" }} | {{.Lastmod | time.Format ":date_medium" }}
                {{ end }}
                </small>
                {{ with .Params.tags }}
                <p class="tags">
                    {{ range . }}
                        <a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                </p>
                {{ end }}
            </header>
            {{ .Content }}
        </article>
        {{ end }}
    </main>
</body>

</html>
