<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>64::00</title>
    <link rel="stylesheet" href="assets/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/your-wilderness.ico">
</head>

<body>
    {{ partial "sidebar" . }}
    <main id="home">
        <header>
            <h1>64::home</h1>
        </header>
        <p>
            This is my website! I'm gonna put my programming stuff here... But it's pretty simple!
        </p>
        <a href="/personal-posts">Personal posts</a>
        <a href="/it-posts/">IT posts</a>

    <h2>Latest post</h2>

    {{ with first 1 (sort .Site.RegularPages "Date" "desc") }}
    {{ range . }}
    <article #latestpost>
        <header>
            <h1><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h1>
            <small>
            {{ if eq .Date .Lastmod }}
                {{ .Date | time.Format ":date_medium" }}
            {{ else }}
                {{ .Date | time.Format ":date_medium" }} | {{ .Lastmod | time.Format ":date_medium" }}
            {{ end }}
            </small>
            {{ with .Params.tags }}
            <p class="tags">
                {{ range . }}
                    <a href="{{ "tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
                {{ end }}
            </p>
            {{ end }}
        </header>
        {{ .Content }}
    </article>
    {{ end }}
    {{ end }}

    </main>
</body>

</html>
