<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>64::{{ .LinkTitle }}</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    {{ partial "sidebar" . }}

    <main id="article">
        <header>
            <h1> {{ .LinkTitle }} </h1>
            <small>
                {{ if eq .Date .Lastmod }}
                    {{ .Date | time.Format ":date_medium" }}
                {{ else }}
                    {{ .Date | time.Format ":date_medium" }} | {{.Lastmod | time.Format ":date_medium" }}
                {{ end }}
            </small>
        </header>
        {{ .Content }}
    </main>
</body>
</html>