html, body
{
    margin: 0;
    height: 100%;
}

body {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    background-position: center;
    background-image: url(/assets/fend_your_self_blur.png);
    background-repeat: no-repeat;
    background-size: cover;
}

pre {
    background-color: black;
    padding: 10px;
    overflow: scroll;
    max-height: 50vh;
}

#articles,
#home,
#forty4,
main#article {
    width: 500px;
}

img {
    max-width: 600px;
}

article {
    padding: 10px;
    margin: 10px;
    max-height: 500px;
    overflow: scroll;
    border-top: 1px dashed black;
    border-color: white;
    border-bottom: 1px dashed black;
}

a {
    color: white;
}

#sidebar {
    padding: 30px;
    max-width: 100px;
    height: 400px;
    overflow: scroll;
    text-align: center;
}

#sidebar img {
    width: 90px;
}

article img {
    width: 100%;
}

main header {
    text-align: center;
}

main {
    border-left: dashed 1px black;
    margin: 10px;
    padding: 30px;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
#latestpost
{
    max-height: 500px;
}