html, body {
    margin: 0;
    height: 100%;
}

body {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: left;

    background: url(/assets/fend_your_self_wide.png) center / cover no-repeat;
    background-attachment: fixed;
}

main {
    margin: 20px;
    padding: 30px;
    backdrop-filter: blur(3px);
    background-color: rgba(87, 87, 104, 0.25);
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width: thin;
    max-width: 650px;
    border-radius: 10px
}

main header {
    text-align: center;
    margin-bottom: 20px;
}

article {
    padding: 15px 15px;
    margin: 20px 0;
    overflow-y: auto;
    max-height: 500px;
    scrollbar-width: thin;
}

pre {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    overflow: auto;
    max-height: 50vh;
    border-radius: 4px;
    font-size: 0.9em;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

article img {
    margin: 10px 0;
}

a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed rgba(255,255,255,0.1);
}

a:hover {
    color: #ddd;
    border-color: rgba(255,255,255,0.25);
}

#sidebar {
    padding: 30px;
    width: 80px;
    overflow-y: auto;
    text-align: center;
    margin: 20px;
    backdrop-filter: blur(3px);
    background-color: rgba(87, 87, 104, 0.25);
    border-radius: 10px
}

#sidebar img {
    width: 90px;
    margin-bottom: 10px;
}

#articles,
#home,
#forty4,
main#article {
    width: 500px;
}

#latestpost {
    max-height: 500px;
    overflow-y: auto;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

*::-webkit-scrollbar-track {
    background: transparent;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}
